.balance-income {
  color: $green;
}

.balance-expense {
  color: $red;
}

.balance-summary {
  margin-top: -2rem;
  h1 {
    font-size: 2rem;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
  }
  background-color: black;
  padding: 1rem;
  border-radius: 5px 5px 0 0;
  p:last-child {
    margin-bottom: 0;
  }
  .summary-container {
    display: flex;
    justify-content: space-between;
  }
  .balance-type {
    font-size: 12px;
    opacity: 0.6;
  }
}

.balance-container {
  background-color: rgba(255,255,255,0.6);
  color: black;
  height: 76vh;
  padding: 0 1rem;
  border-radius: 0 0 5px 5px;
  .balance-row {
    border: solid $light-gray;
    border-width: 0 0 1px 0;
  }
}

.balance-row {
  // display: flex;
  height: 7vh;
  .balance-row-description {
  }
  .balance-row-amount {
  }
  .balance-row-duedate {
  }
}
