html,body{
  height:100%;
}

.buttons {
  position: fixed;
  height: 70px;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: linear-gradient(120deg, #FF9393, #FFC279) fixed;
}

.top {
  position: absolute;
  top: 30px;
}

#back-button {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 135px;
}

.step-buttons {
  height: 50px;
  width: 150px;
  border: 1px solid white;
  border-radius: 10px;
  background: transparent;

  &:focus {
    outline: none;
  }
}

cite {
  display: none;
}

.title {
  position: absolute;
  top: 65px;
  width: 85%;
  margin-top: 0px;
}

.title h4 {
  padding-top: auto;
  padding-bottom: auto;
}

.count-down {
  position: absolute;
  top: 135px;
  left: 75px;
}

.count-down p {
  margin-bottom: 0.5px;
  font-size: 15px;
}

.timing {
  display: flex;
  align-items: center;
}

.time-input {
  color: #332F2C;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  &:focus {
    outline: none;
  }
}

#time-button {
  color: white;
  font-size: 30px;
  margin-left: 10px;
}

#timer {
  color: white;
  font-size: 20px;
  margin-left: 5px;
}
.content {
  position: absolute;
  top: 190px;
  width: 85%;
  margin-top: 10px;
  padding-bottom: 70px;
  overflow-y: scroll;
}

.speech-bubble {
  width: 95%;
  margin: 10px auto;
  border-radius: 15px;
  background: white;
  color: #332F2C;
  padding-left: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 10px;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: white;
  border-left: 0;
  border-top: 0;
  margin-top: -10px;
  margin-left: -13px;
}

#step-image img {
  height: auto;
  width: 100%;
}

#video-content iframe {
  width: 100%;
}

#step-title {
  font-size: 13px;
}

#step-content {
  font-size: 13px;
}
#google {
  font-size: 13px;
  text-decoration: none;
}

#mom-final {
  font-size: 13px;
}

#home-button {
  font-size: 13px;
}
