
<div class="container-fluid" style='overflow:scroll;margin-bottom:10vh;'>
  <div class="count-down">
    <p>Wanna set a timer?</p>
    <i class="far fa-clock" id="time-button"></i>
    <input type="text" class="time-input" id="minute" placeholder="05">
    <input type="text" class="time-input" id="second" placeholder="27">
    <p id="timer"></p>
    <p id=timer-started></p>
  </div>
  <h2><%= @task.title %></h2>
  <i class="fas fa-chevron-left fa-xs hidden" id="back-button"></i>
  <div id="steps-container">
    <div id="steps" data-steps="<%= @steps.reverse.to_json %>">
      <p id="step-title" class="speech-bubble"><%= @steps.reverse.first.title %></p>
      <p id="step-content"></p>
      <iframe id="video-content" class="hidden" data-youtube-api-key="<%= ENV['YOUTUBE_KEY'] %>" src=""  frameborder="0" allowfullscreen></iframe>
      <p><a id="google" class="hidden" href="">Maybe you want to google it dear.</a></p>
    </div>
    <div class="bottom">
      <p class="speech-bubble hidden" id="mom-final"></p>
    </div>
  </div>
</div>
<div class="buttons fixed-bottom">
  <button type="button" class="step-buttons" id="nope-button">Nope</button>
  <button type="button" class="step-buttons" id="yes-button">Sure</button>
</div>
