<div id="wrap">
    <%= form_tag tasks_path, class: "form-inline", method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            id: "search",
            autocomplete:"on",
            placeholder: "Search",
            value: ''
        %>
        <div id="search_submit">
        </div>
    <% end %>
</div>

