/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
  height: 80px;
}
/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  background: #c7cccc;
  margin-top: 0px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  width: 360px;
  margin-left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100%;
}

.dropdown-toggle{
  margin-left: 296px;
}

// changing dropdown menu symbol to white

i.fas.fa-bars.dropdown-toggle {
  color: white;
}

//link_tos text-decoration

.dropdown {
  a {
    text-decoration: none;
    color: black;
  }
  // HEY MOM title
  .dropdown-title {
    a {
      font-size: 50px;
      color: white;
      font-weight: 800;
      line-height: 103px;
      letter-spacing: -0.07em;
      text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
      text-align: center;
      padding: 10px 50px;
      border-bottom: 0.5px solid white;
    }
  }
}

// div of every link
.link-icon {
  height: 60px;
  display: flex;
  a {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 20px;
  }

  .menu-name {
    padding: 12px 0px;
  }

  i {
    flex: 0 0 80px;
    padding: 0 15px;
    font-size: 40px;
  }
  .icon-smaller{
    font-size: 35px;
  }
}
