/* Main navbar */
.navbar-wagon {
  transition: all 0.3s ease;
  height: 40px;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dropdown-menu-right {
  right: 100px;
  left: auto;
}
.dropdown-title {
  a {
    font-size: 50px;
    color: white;
    font-weight: 800;
    line-height: 103px;
    letter-spacing: -0.07em;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 10px 50px;
  }
}
/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  background: #c7cccc;
  margin-top: 0px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  width: 337px;
  margin-left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100%;
}

.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter !important;
  color: #514538 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: white !important;
  background-color: rgba(255,255,255,0.5)
}

