.weather-box {
  align-items: center;
  text-align: center;
  color: white;
  height: 50px;
  width: 311px;
  display: flex;
  justify-content: center;
  margin-top: -12px;
  margin-left: -12px;
  transition: all 1 ease;
}
