  <div class="categories">
  <h1 class="category-title"><%= @category.name %></h1>
  <ul class="category-tasks">
    <% @tasks.each do |task| %>
      <%= link_to category_task_path(@category, task) do %>
      <li><%= task.title %></li>
      <% end %>
    <% end %>
  </ul>
</div>
